li {
    
    &.tiene {
        background: yellowgreen;
    }
    &.notiene {
        background: yellow;
    }
}




mat-expansion-panel-header {
    padding-left: 45px;
}


.mat-expansion-panel-header {
  display: flex;
  flex-direction: row;
  height: 36px !important;
  align-items: center;
  padding: 0 24px;
  border-radius: 0 !important;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  color: #333333;

  &.mat-expanded {
    height: 36px !important;
    background: #49abeb;
    .mat-expansion-panel-header-title {
        color: white !important;
        font-weight: 500 !important;
        font-size: 16px;
    }

    border-radius: 0 !important;
  }
}

.submenuElement {
    display: flex;
    flex-direction: row;
    height: 36px !important;
    align-items: center;
    padding: 0 24px;
    border-radius: 0 !important;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: #333333;
    background: rgba(254,254,254,1);
    margin: 0;
    border: 1px solid #e7e7e7;
    padding-left: 55px;
    &.active {
        background: #49abeb;
        color: white !important;
        font-weight: 500 !important;
        font-size: 16px;
    }
}