/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.example-form { 
    .mat-form-field-appearance-legacy .mat-form-field-underline {
        height: 0px !important;
        width: 100% !important;
    }
  }


  ::ng-deep .mat-form-field-placeholder{

    color:red;
  }
  
  ::ng-deep .mat-focused .mat-form-field-placeholder{
  
    color:red;
  }

  ::ng-deep .mat-form-field-label{
    color:#000 !important;
}

.mat-expansion-panel-body {
  padding: 0 !important;
}
mat-expansion-panel {
  margin: 0 !important;
}
mat-accordion {
  border:1px solid #f7f7f7 !important;
  mat-expansion-panel {
    box-shadow: none !important;
    border-radius: 4px !important;
    border-left: 1px solid #f7f7f7 !important;
    border-right: 1px solid #f7f7f7 !important;
    &.mat-expanded {
        background: #f7f7f7 !important;
    }
    &:first-child {
      border-top: 2px solid #f7f7f7;
    }
  }
}

.mat-expansion-panel-header {
  display: flex;
  flex-direction: row;
  height: 48px !important;
  align-items: center;
  padding: 0 24px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  color: #333333;

  
  &.mat-expanded {
    height: 48px !important;
    background: #49abeb !important;

    .mat-expansion-panel-header-title {
      color: white !important;
      font-weight: 500 !important;
      font-size: 16px;
    }
  }
}


.textBlue {
  color: #0279cb;
  text-decoration: underline;
}

mat-tab-group {
  mat-tab-header.mat-tab-header {
    border: none;

    .mat-tab-label-container {
      .mat-tab-list {
        .mat-tab-labels {
          .mat-tab-label {
            height: 26px;
            min-width: 70px;
            opacity: 1;
            padding: 0 10px;

            .mat-tab-label-content {
              color: #717171;
              font-size: 12px;
              font-weight: normal;
            }

            &.mat-tab-label-active {
              .mat-tab-label-content {
                color: #0078BF;
              }
            }
          }
        }
      }
    }
  }

  &.mat-primary .mat-ink-bar {
    background-color: #0078BF !important;
    height: 3px;
  }
}